<p>nuevo-espacio works!</p>
<h2>Nuevo Espacio</h2>

<form>
  <div class="form-item">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" required [(ngModel)]="nombre" name="nombre">
  </div>

  <div class="form-item">
    <label for="capacidadMaxima">Capacidad Máxima:</label>
    <input type="number" id="capacidadMaxima" required [(ngModel)]="capacidad" name="capacidadMaxima">
  </div>

  <!-- Selección de Ala -->
  <div class="form-item">
    <label for="ala">Selección de Ala:</label>
    <select id="ala" required [(ngModel)]="alaSeleccionada" name="ala">
      <option value="" disabled selected>Seleccione un ala</option>
      <option *ngFor="let opcionAla of alas" [value]="opcionAla.id">{{ opcionAla.nombre }}</option>
    </select>
  </div>


  <!-- Selección de Recurso -->
  <div class="form-item">
    <label for="recursos">Recursos del Espacio</label>
    <input type="text" id="recursos" [(ngModel)]="recursos" name="recursos" />
  </div>


  <button type="button" (click)="guardarEspacio()">Guardar</button>
</form>
