<p>nuevo-espacio works!</p>
<h2>Nuevo Espacio</h2>

<form>
  <div class="form-item">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" required [(ngModel)]="nombre" name="nombre">
  </div>

  <div class="form-item">
    <label for="capacidadMaxima">Capacidad Máxima:</label>
    <input type="number" id="capacidadMaxima" required [(ngModel)]="capacidadMaxima" name="capacidadMaxima">
  </div>

  <!-- Selección de Ala -->
  <div class="form-item">
    <label for="ala">Selección de Ala:</label>
    <select id="ala" required [(ngModel)]="ala" name="ala">
      <option value="" disabled selected>Seleccione un ala</option>
      <option *ngFor="let ala of alas" [value]="ala">{{ alas }}</option>
    </select>
  </div>

  <!-- Selección de Recurso -->
  <div class="form-item">
    <label for="recurso">Recursos del Espacio</label>
    <select id="recurso" required [(ngModel)]="recurso" name="recurso">
      <option value="" disabled selected>Seleccione un recurso</option>
      <option *ngFor="let recurso of recursos" [value]="recurso">{{ recursos }}</option>
    </select>
  </div>

  <button type="button" (click)="guardarEspacio()">Guardar</button>
</form>
