<h2>Modificar Reservante</h2>

<form class="form-inline">
  <div class="form-item form-group">
    <label for="filtroLegajo">Filtrar por Legajo UTN:</label>
    <input type="text" id="filtroLegajo" name="filtroLegajo" class="form-control">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarPorLegajo()">Buscar</button>

  <div class="form-item form-group">
    <label for="filtroDNI">Filtrar por DNI:</label>
    <input type="text" id="filtroDNI" name="filtroDNI" class="form-control">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarPorDNI()">Buscar</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Legajo UTN</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="reservantes.length > 0; else noReservantes">
      <tr *ngFor="let reservante of reservantes; let i = index">
        <td>
          <ng-container *ngIf="modoEditar && i === indiceEditando">
            <input type="text" [(ngModel)]="reservanteEditando.nombre" />
          </ng-container>
          <ng-container *ngIf="!modoEditar || i !== indiceEditando">
            {{ reservante.nombre }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="modoEditar && i === indiceEditando">
            <input type="text" [(ngModel)]="reservanteEditando.apellido" />
          </ng-container>
          <ng-container *ngIf="!modoEditar || i !== indiceEditando">
            {{ reservante.apellido }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="modoEditar && i === indiceEditando">
            <input type="text" [(ngModel)]="reservanteEditando.legajo" />
          </ng-container>
          <ng-container *ngIf="!modoEditar || i !== indiceEditando">
            {{ reservante.legajo }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="modoEditar && i === indiceEditando">
            <input type="text" [(ngModel)]="reservanteEditando.dni" />
          </ng-container>
          <ng-container *ngIf="!modoEditar || i !== indiceEditando">
            {{ reservante.dni }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="modoEditar && i === indiceEditando">
            <input type="text" [(ngModel)]="reservanteEditando.email" />
          </ng-container>
          <ng-container *ngIf="!modoEditar || i !== indiceEditando">
            {{ reservante.email }}
          </ng-container>
        </td>
        <td>
          <button *ngIf="!modoEditar" type="button" class="btn btn-primary" (click)="editarUsuario(i)">Modificar</button>
          <button *ngIf="modoEditar && i === indiceEditando" type="button" class="btn btn-success" (click)="guardarUsuario()">Guardar</button>
          <button *ngIf="modoEditar && i === indiceEditando" type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarUsuario(reservante)">Eliminar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-template #noReservantes>
  <tr>
    <td colspan="6">No hay reservantes disponibles.</td>
  </tr>
</ng-template>
