<h2>Modificar Reservante</h2>

<form class="form-inline">
  <div class="form-item form-group">
    <label for="filtroLegajo">Filtrar por Legajo UTN:</label>
    <input type="text" id="filtroLegajo" name="filtroLegajo" class="form-control">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarPorLegajo()">Buscar</button>

  <div class="form-item form-group">
    <label for="filtroDNI">Filtrar por DNI:</label>
    <input type="text" id="filtroDNI" name="filtroDNI" class="form-control">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarPorDNI()">Buscar</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Legajo UTN</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.apellido }}</td>
      <td>{{ usuario.legajo }}</td>
      <td>{{ usuario.dni }}</td>
      <td>{{ usuario.email }}</td>
      <td>
        <button *ngIf="!modoEditar" type="button" class="btn btn-primary" (click)="editarUsuario(usuario)">Modificar</button>
        <button *ngIf="!modoEditar" type="button" class="btn btn-danger" (click)="eliminarUsuario(usuario)">Eliminar</button>
        <button *ngIf="modoEditar" type="button" class="btn btn-success" (click)="guardarUsuario(usuario)">Guardar</button>
        <button *ngIf="modoEditar" type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
      </td>
    </tr>
  </tbody>
</table>
