<h2>Modificar Reserva</h2>

<form class="form-inline">
  <div class="form-item form-group">
    <label for="filtroEspacio">Filtrar por Espacio:</label>
    <input type="text" id="filtroEspacio" name="filtroEspacio" class="form-control" [(ngModel)]="filtroEspacio">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarReservas()">Buscar</button>

  <div class="form-item form-group">
    <label for="filtroReservante">Filtrar por Reservante:</label>
    <input type="text" id="filtroReservante" name="filtroReservante" class="form-control" [(ngModel)]="filtroReservante">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarReservas()">Buscar</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Fecha Reserva</th>
      <th>Fecha Fin</th>
      <th>Motivo de Reserva</th>
      <th>Capacidad Requerida</th>
      <th>Espacio</th>
      <th>Reservante</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="reservas.length > 0; else noReservas">
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.fechaReserva }}</td>
        <td>{{ reserva.fechaFin }}</td>
        <td>{{ reserva.motivoReserva }}</td>
        <td>{{ reserva.capacidadRequerida }}</td>
        <td>{{ reserva.espacio }}</td>
        <td>{{ reserva.reservante }}</td>
        <td>{{ reserva.estado }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="modificarReserva(reserva.id)">Modificar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarReserva(reserva.id)">Eliminar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-template #noReservas>
  <tr>
    <td colspan="8">No hay reservas disponibles.</td>
  </tr>
</ng-template>
