<p>modificar-espacio works!</p>

<h2>Modificar Espacio</h2>
<form class="form-inline">
  <div class="form-item form-group">
    <label for="filtroAla">Filtrar por Ala:</label>
    <input type="text" id="filtroEspacio" name="filtroAla" class="form-control" [(ngModel)]="filtroAla">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarPorAla()">Buscar</button>

  <div class="form-item form-group">
    <label for="filtroCapacidad">Filtrar por Capacidad:</label>
    <input type="number" id="filtroCapacidad" name="filtroCapacidad" class="form-control" [(ngModel)]="filtroCapacidad">
  </div>
  <button type="button" class="btn btn-primary" (click)="buscarPorCapacidad()">Buscar</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Nombre de Espacio</th>
      <th>Ala</th>
      <th>Capacidad</th>
      <th>Recursos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="espacios.length > 0; else noEspacios">
      <tr *ngFor="let espacio of espacios">
        <td>{{ espacio.nombre }}</td>
        <td>{{ espacio.ala }}</td>
        <td>{{ espacio.capacidad }}</td>
        <td>{{ espacio.recursos }}</td>
        <td>
          <button *ngIf="!espacio.modoEditar" type="button" class="btn btn-primary" (click)="editarEspacio(espacio)">Modificar</button>
          <button *ngIf="!espacio.modoEditar" type="button" class="btn btn-danger" (click)="eliminarEspacio(espacio.id)">Eliminar</button>
          <button *ngIf="espacio.modoEditar" type="button" class="btn btn-success" (click)="guardarEspacio(espacio)">Guardar</button>
          <button *ngIf="espacio.modoEditar" type="button" class="btn btn-secondary" (click)="cancelarEdicionEspacio(espacio)">Cancelar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-template #noEspacios>
  <tr>
    <td colspan="5">No hay espacios disponibles.</td>
  </tr>
</ng-template>
