<p>nuevo-reservante works!</p>

<h2>Modificar Espacio</h2>
<form class="form-inline">
  <div class="form-item form-group">
    <label for="filtroAla">Filtrar por Ala:</label>
    <input type="text" id="filtroEspacio" name="filtroAla" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Buscar</button>

  <div class="form-item form-group">
    <label for="filtroCapacidad">Filtrar por Capacidad:</label>
    <input type="text" id="filtroCapacidad" name="filtroCapacidad" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Nombre de Espacio</th>
      <th>Ala</th>
      <th>Capacidad</th>
      <th>Recursos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button type="button" class="btn btn-primary">Modificar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>